# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight
.Trashes

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
Network Trash Folder
Temporary Items
.apdisk

# Arquivos de configuração do Visual Studio Code
.vscode/

# Arquivos de configuração do usuário do Visual Studio Code
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json

# Arquivos de histórico do Visual Studio Code
.vscode/history

# Arquivos de cache do Visual Studio Code
.vscode/.cache
.vscode/.history

# Arquivos de log do Visual Studio Code
.vscode/logs

# Arquivos de backup do Visual Studio Code
.vscode/backup

# Outros arquivos específicos do Visual Studio Code
.vscode/*.code-workspace
.vscode/*.suo
.vscode/*.sln

# tp 
*.gcov
*.c.gcov
*.gcda
*.html
*.xml
*.png
result.*
testAll